.Rproj.user
.Rhistory
.RData
.Ruserdata
Visualizations
Output/Models/polity results/*.rds
Output/figures/*.rds
Output/Models/v2xregime results/*.rds
Output/Robustness/*.rds
Input/clean/*.rds
Input/raw
Milestones/map_Andrea.qmd
Milestones/Table_Andrea.qmd
